<%= erb :'admin/login-header' %>
<div class="container-fluid">
<div class="row">
<%= erb :'admin/login-sidebar' %>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">固定ページ一覧</h1>
      <a role="button" href="/adm-spolt/page-new" class="btn btn-primary btn-sm">新規追加</a>
    </div>
    <p>固定ページ一覧画面です。</p>
    <table class="table table-striped">
      <tr>
        <th style="width:30px;"><input type="checkbox" name="allchecked"></th>
        <th style="width:50%;">タイトル</th>
        <th>最終更新日</th>
        <th>投稿ID</th>
        <th style="width:70px;"></th>
      </tr>
    <% @pages.each do |page| %>
      <tr>
        <td><input type="checkbox" name="<%= page.id %>"></td>
        <td><a class="text-primary" href="/adm-spolt/page-edit/<%= page.id %>"><%= page.title %></a></td>
        <td><%= page.updated_at %></td>
        <td><%= page.id %></td>
        <td><a class="text-danger" href="/adm-spolt/page-destroy/<%= page.id %>" onClick="return confirm('<%= page.title %>ページを削除します。\nよろしいですか？');">削除</a></td>
      </tr>
    <% end %>
    </table>
  </main>
</div>
</div>
<% if @notice %>
  <%= erb :'admin/flash-modal' %>
<% end %>