<%= erb :'admin/login-header' %>
<div class="container-fluid">
<div class="row">
<%= erb :'admin/login-sidebar' %>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">トップスライダ一覧</h1>
      <a role="button" href="/adm-spolt/top-slider-new" class="btn btn-primary btn-sm">新規追加</a>
    </div>
    <p>トップスライダ一覧画面です。</p>
    <table class="table table-striped">
      <tr>
        <th style="width:30px;"><input type="checkbox" name="allchecked"></th>
        <th style="width:40%;">タイトル</th>
        <th>画像</th>
        <th>投稿日</th>
        <th>投稿ID</th>
        <th style="width:70px;"></th>
      </tr>
    <% @sliders.each do |slider| %>
      <tr>
        <td><input type="checkbox" name="<%= slider.id %>"></td>
        <td><a class="text-primary" href="/adm-spolt/slider-edit/<%= slider.id %>"><%= slider.title %></a></td>
        <td><a href="/adm-spolt/slider-edit/<%= slider.id %>"><img style="width:100px;" src="/images/<%= slider.image %>"></a></td>
        <td><%= slider.created_at %></td>
        <td><%= slider.id %></td>
        <td><a class="text-danger" href="/adm-spolt/slider-destroy/<%= slider.id %>" onClick="return confirm('<%= slider.title %>のトップスライダー画像を削除します。\nよろしいですか？');">削除</a></td>
      </tr>
    <% end %>
    </table>
  </main>
</div>
</div>
<% if @notice %>
  <%= erb :'admin/flash-modal' %>
<% end %>